# Object files + executables
*.out
*.o

# Build directory 
builddir/
build/

# debug directory
debug/

tmp_development/

# .idea directory from IDE
.idea/

# Generated log files
tmp_development/leak_tests_mc_ast_to_dot/logs/

# Fake make-directory
tmp_development/cmake-build-debug

# Output of integration tests
scripts/integration_tests/*

# VS Code config
.vscode

# Compilation database for autocompletion
compile_commands.json

# Cland for autocompletion
.clangd/

# All .swp files from vim
*.swp

